{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_filters %}


{% block content %}
<div class="container">
    <h1 class="text-center"> Checkout </h1>

    <div class="grid-x grid-margin-x">
    <div class="medium-1 cell">
    </div>
    <div class="medium-5 cell">
        <form action="." method="post" class="order-form" id="formcheckout">
        {{ form | crispy}}
        <button class="btn btn-outline-info" type="submit" form="formcheckout" value="Submit">Buy Now</button>
        {% csrf_token %}
    </form>
    </div>
    <div class="medium-6 large-5 cell">
         <h3>Your command</h3>
        <ul>
            {% for item in cart %}
                <li>{{ item.quantity }}x {{ item.product.name }} <span>${{ item.total_price }}</span></li>
            {% endfor %}
        </ul>
        <p>Total: EUR {{ cart.get_total_price }}</p>
    </div>
    </div>
</div>
   
    
{% endblock %}